@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Gilroy", sans-serif;
}

::selection {
  color: rgb(192, 192, 23);
}

@media (forced-colors: active) {
  body {
    forced-color-adjust: none; /* Prevents the user agent from adjusting colors */
    background: Canvas;
    color: CanvasText;
  }
}
